/*
	// $Id$
	A-Block Theme By CouzinHub
	
	Internet Explorer 6 Stylesheet
*/

#primary ul, #secondary ul{
	margin-right:-2px;
}
#block-user-1 ul.menu {
	height:21px;
}
.tabs{
	margin-bottom:-18px;
}
div.admin .left{
	width:40%;
}

/*---------- Breadcrumb ----------*/

.breadcrumb{
	padding:0px 10px;
}

/*---------- Node ----------*/

#squeeze .content{
	word-wrap:break-word;
}
h3.title, h2.title, h1.title{
	font-size:24px;
}
.node .submitted a{
	font-size:12px;
}
.node div.links{
	top:10px;
}
.node .links a{
	font-size:12px;
	padding:0px 7px;
}
.node-head{
	zoom:1;
}
.node-head a{
	color:#fff!important;
	font-size:20px;
}
body.ntype-blog .node .node-head{
	height:10px;
}

/*---------- Blog and Comment Block ----------*/

#block-blog-0,
#block-comment-0{
	height:48px;
}
#block-blog-0 .item-list a{
	width:763px;
	padding:0 10px 0 12px;
}
#block-comment-0 .item-list a{
	width:763px;
	padding:9px 10px 8px 12px;
}
#block-comment-0 .content {
	line-height:1px;
}
#block-comment-0 .item-list ul li {
	margin-bottom:-4px;
}