/*
	// $Id$
	A-Block Theme By CouzinHub
	
	Internet Explorer 7 Stylesheet
	
*/

#primary ul, #secondary ul{
	margin-right:-2px;
}
#secondary ul a{
	padding:5px 10px 1px;
}
#block-user-1 ul.menu {
	padding-bottom:3px;
}

/*---------- Breadcrumb ----------*/

.breadcrumb{
	padding:0px 10px;
}

/*---------- Node ----------*/

#squeeze .content{
	word-wrap:break-word;
}
.node div.links{
	top:10px;
}
.node .submitted a{
	font-size:12px;
}
h3.title, h2.title, h1.title,
h3.title a, h2.title a, h1.title a{
	font-weight:normal;
	font-size:24px;
}
.node .links a{
	font-size:12px;
	padding:0px 7px;
}
.node-head a{
	font-weight:bold;
	font-size:20px;
}

/*---------- Blog and Comment Block ----------*/

#block-comment-0 .item-list ul li{
	height:16px;
}
#block-blog-0 .item-list a,
#block-comment-0 .item-list a{
	padding:0px 12px;
}

/*---------- user login ----------*/

#block-user-0 .item-list ul {
	padding-top: 7px;
}
