
/*
	// $Id$
	A-Block Theme By CouzinHub
*/

/* Yahoo Reset CSS 
http://developer.yahoo.com/yui/
*/
body {color:#555;font-size:13px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup,sub {line-height:-1px;vertical-align: text-top;}
sub {vertical-align:text-bottom;}
input, textarea, select{font-family:inherit;font-size:inherit;font-weight:inherit;}
textarea{width:100%;}

/* ------ misc Styles ----------*/

a { text-decoration: none; outline:0; }
a, a:link, a:visited  { color: #FF7F00; }
a:hover, a:focus, a:active{ color: #FFBF00; }
em{
	color:#222;
	font-style:italic;
}

/*=============================
				General Layout
==============================*/

body{
  font-family: "Trebuchet ms", sans-serif;
  padding:0;
  width:850px;  
  margin:0 auto;  
  background-color:#1F2B3A;
}
#header{
	min-height:50px;
  background: #fff url(images/blueshapes.jpg) no-repeat top right;
	position:relative;
}
#main{
	background-color:#fff;
  margin-top:10px;
	min-height:300px;
}


/*=============================
					 Header
==============================*/

#logo{
	margin:5px;
	float:left;
}
#header h1 a{
	display:block;
	padding:20px 0 0 10px;
	font-size:40px;
	font-weight:bold;
}
#site-slogan{
	color:#FFBF00;
	font:bold 14px "Trebuchet MS", Verdana, sans-serif;
	padding:0 0 10px 10px;
}
#search-theme-form{
	position:absolute;
	right:10px;
	bottom:10px;
}
.feed-icon{
	position:fixed;
	right:5px;
	top:5px;
}

/*=============================
	Primary & Secondary Links
==============================*/

#primary, #secondary{
	padding:0;
}
#primary ul, #secondary ul{
	padding:4px 0;
	margin-right:2px;
	text-align:right;
}
#primary li, #secondary li {
	margin:0 -2px;
	padding:0;
	display:inline;
	list-style:none;
}
#primary a, #secondary a { 
	font-variant:small-caps;
	display:inline;
	font-size:14px;
	font-weight:bold;
	color: #fff;
	padding:3pt 10px;
	margin:0;
}
#secondary h2{
	display:none;
}

/* ------ Colors ----------*/

#primary{
  border-bottom: solid 5px #6B9923; 
  background-color:#248399; 
}
#primary a:hover{
	background-color:#24537A;
}
#primary a.active, #primary a.active:hover{ 
	color: #fff; 
  background-color:#6B9923; 
}
#secondary{
	border-bottom: solid 5px #FF7F00; 
	background-color:#FFBF00; 
}
#secondary a.active{ 
	background-color:#FF7F00; 
}
#secondary a:hover{ 
	background-color:#FFA700; 
}

/*=============================
				User Block
==============================*/

#block-user-1{
	background:#1F2B3A;
}
#block-user-1 ul.menu{
	padding:0 10px;
	text-align:center;
}
#block-user-1 .title{
	display:none;
}
#block-user-1 li{
	display:inline;
	margin:0;
	padding:0;
}
#block-user-1 a{
	border:1px solid #6a7889;
	color:#cdd;
	padding:2px 10px;
}
#block-user-1 a:hover { 
	color:#fff;
	background-color:#3a4b61; 
}
#block-user-1 li ul{
	display:none;
}

/*=============================
				Breadcrumb
==============================*/

#breadcrumb{
	color:#248399;
  background:#154e5b;
	padding:3px 10px;
}
#breadcrumb a{
  background: url(images/bread.gif) no-repeat 100% 50%;
	padding-right:15px;
	margin-right:4px;
	color:#9ee0ef;
}

/*=============================
				Mission
==============================*/

#mission {
  padding: 15px 15px;
  font-size: 1.1em;
  color: #fff;
	border-bottom:10px solid #1F2B3A;
  background: #3C4B5D;
}


/*=============================
			   NODE DESIGN
==============================*/

.node{
	border-bottom:10px solid #1F2B3A;
}
.picture{
	float:left;
	margin:0 20px 0 0;
}
#main .node .node-info{
	color:#FF7F00;
	padding:5px;
  background-color:#FFE68C;
}
h3.title, h2.title{
	padding:10px 20px ;
	font-size:20px;
	font-weight:bold;
}
h1.title{
	font-weight:bold;
	font-size:25px;
	padding:10px 300px 10px 20px ;
	border-bottom:1px solid #fff;
}
.node .title a:hover{
	color:#FF7F00;
}
.node .submitted{
	float:left;
	padding:0 15px;
}
.node .taxonomy, .node div.links{
	display:inline;
}
.node .links li{
	padding:0;
}
.node .links a{
	padding:5px 10px;
}
.node .links a:hover,.node .submitted a:hover,
.node .links a.active, .node .submitted a.active{
	color:#e55600;
}
.node .links .node_read_more{
	font-weight:bold;
}
.node .links a:hover{
	background-color:#fff0b8;
}
#main .node .content{
	padding:20px;
}
.node .title a, .node .title a:hover{
	color:#fff;
}

/*=============================
			   PAGE DESIGN
==============================*/

#main .content{
	padding:3px 10px 10px;
}
#main .content a{
	color:#FF7F00;
}
.title{
	color:#fff;
	padding:0;
  background:#ffc529;
}
h1.title{
  background:#ffa800;
}
.box .title, .profile h2.title,
body.not-front h1.title{
	padding:10px;
}
.status, .message{
	border-bottom:10px solid #1F2B3A;
	background-color:#DCF8C3;
	color:#409123;
	padding:5px 10px;
	font-weight:bold;
}
span.new{
	float:right;
	color:#c00;
	padding:5px 10px;
}

/* ------ Page Menu ----------*/

.tabs{
	position:relative;
}
.tabs.primary{
	height:0;
	position:absolute;
	top:-29px;
	right:5px;
}
ul.primary{
	margin:0;
	padding:0;
	border:0;
	text-align:right;
}
ul.primary li a{
  background:#FFE68C;
	padding:3px 12px;
	border:2px solid #FFBF00;
}
ul.primary li a:hover,
ul.primary li a.active{
  background:#FFE68C;
	border:2px solid #fff;
	color:#FF7F00;
}
ul.secondary{
	margin:0;
}

/* ------ {Page} ----------*/

#main dl, #main form{
	padding:10px;
}
.content h2{
	font-size:18px;
	margin:10px 0;
}
.content h3{
	font-size:16px;
	margin:5px 0;
}
.content h4{
	font-size:14px;
	margin:3px 0;
}
strong{
	font-weight:bold;
}
#main q{
	font-style:italic;
}
#main q:before, #main q:after{
	content:'"';
}
#main blockquote{
	font-style:italic;
	padding:10px;
	margin:10px;
	border:1px dotted #cdd;
	background-color:#FFFBF0;
}

/*=============================
				Login Block
==============================*/

#block-user-0{
	background-color:#6B9923;
	border-top:10px solid #1F2B3A;
}
#block-user-0 .content form{
	height:100%;
	background-color:#fff;
}
#block-user-0 .title{
	background-color:transparent;
	color:#fff;
	float:left;
	padding: 10px 10px;
}
#block-user-0 .content{
	height:70px;
	padding:0;
	border:none;
	margin-left:200px;
}
#block-user-0 input#edit-name,
#block-user-0 input#edit-pass{
	background-color:#FFE497;
}
#block-user-0 div.form-item{
	margin:5px 0 0 40px;
	float: left;
}
#block-user-0 #edit-submit{
	margin: 16px 0 0 20px;
	float: left;
}
.item-list ul li {
	list-style:none;
}

/*=============================
		Recent post/comment Block
==============================*/

#block-blog-0,
#block-comment-0{
	clear:both;
}
#block-blog-0 .content,
#block-comment-0 .content{
	padding:0;
}
#block-blog-0{
	background-color:#248399;
}
#block-comment-0{
	background-color:#E34400;	
}
#block-blog-0 .title,
#block-comment-0 .title{
	background-color:transparent;
	color:#fff;
	padding: 10px 10px;
}
#block-blog-0 .item-list ul,#block-blog-0 .item-list ul li,
#block-comment-0 .item-list ul,#block-comment-0 .item-list ul li{
	list-style:none;
	margin:0;
	padding: 0px;
	background-color:transparent;
}
#block-comment-0 .item-list ul li{
	font-size:0px;
	color:#E34400;
}
#block-blog-0 .item-list a,
#block-comment-0 .item-list a{
	font-weight:bold;
	font-size:12px;
	background:#fff url(images/more.gif) no-repeat 98% 50%;
	display:block;
	padding:4px 12px;
}
#block-blog-0 .item-list a{
	color:#248399;
	border-bottom:3px solid #248399;
}
#block-comment-0 .item-list a{
	border-bottom:2px solid #E34400;
	color:#E34400;
}
#block-blog-0 .item-list a:hover{
	background-color:#C4E0E3;
}
#block-blog-0 .more-link a{
	text-align:center;
	display:block;
	color:#003046;
	background-color:#C4E0E3;
}
#block-comment-0 .item-list a:hover{
	background-color:#FDCF8A;
	color:#8C1600;
}

/*=============================
				   Comment
==============================*/

#comments{
	margin-bottom:-10px;
}
.comment{
	border-bottom:10px solid #1F2B3A;
}
.comment-folded{
	padding: 5px 20px;
	border-bottom:1px solid #cdd;
}
#comment-form .comment{
	border-top:0;
}
.indented{
	border-left:30px solid #1F2B3A;
	
	margin:0;
}
#main .comment .node-info {
	background-color:#cbe7ef;
	padding:5px;
}
#comments h3{
	border-bottom:1px solid #fff;
	background-color:#94cbdb;
}
#comments h3 a,
.comment h3 a{
	color:#003046;
}
#comments .submitted,
.comment .submitted{
	float:left;
	padding:0 15px;	
}
#comments .content,
.comment .content{
	padding:20px;
}
#comments .links{
	display:inline;
}
#comments .node-info a{
	color:#003046;
	display:inline;
	padding:5px 10px;
}
#comments .node-info a:hover{
	background-color:#DEE;
}
.box{
	margin:0 0 10px;
}

/*=============================
					Footer
==============================*/

#footer{
	margin:10px 0;
	padding:20px;
	color:#b0bbc9;
}
#footer a{
  font-size:11px;
  color:#fff;
	padding:0 10px;
	margin:0;
}


/*=============================
			Admin Section
==============================*/

#main div.admin-panel dl.admin-list{
	border:0;
}
div.help{
	padding:10px;
  background:#FFE68C;
	color:#FF7F00;
}
div.help em{
	color:#FF7F00;
}
div.help a{
	color:#f00;
}
div.admin.clear-block{
	padding:15px 10px;
}
div.admin-panel .body {
	padding:0;
}
div.admin-panel h3{
	font-size:18px;
	color:#FF7F00;
	font-weight:bold;
	letter-spacing:1px;
}
#main table{
	margin:10px;
	width:97%;
}
#node-admin-filter dl.multiselect{
	border-bottom:0;
}
#main .content form{
	border:none;
}
#main input.form-submit{
	margin:10px 0;
}
#content ul.menu{
	padding:20px;
}
.profile{
	margin:20px;
}

/*=============================
					 Forum
==============================*/

#forum a{
	color:#2965FF;
}
tr.even,td.active{
	height:40px;
	background:transparent;
}
tr.odd{
	height:40px;
	background:#E6F8FF;
}
tr, td{
	padding:7px;
	border-bottom:1px solid #ccc;
}


/*=============================
				Miscalenious
==============================*/

#first-time h1{
	margin:-20px -20px 10px;
}
.pager{
	background-color:#1F2B3A;
	color:#fff;
}
.item-list .pager a{
	color:#FFC529;
}
fieldset{
	padding:5px 20px;
}
